@import "../../assets/sass/utilities/customecheckbox";


.todo_conatiner{
    background-color: #21212b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #dbdbdd;
    padding: 8px;
    border-radius: 10px;
    
}