$navbar-color: #bcbcbf;

@import "../../assets/sass/common";
nav{
    padding: 0 10px;
    height: 50px;
    background-color: #21212b;
    h6{
        color: $navbar-color;

    }

    i{
     color: $navbar-color;
    }
}